<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Cadastro de usuario</h1>
        <hr>
        <form action="{{ url_for('cadastrar_usuario') }}" method="POST">
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                    <td>Senha</td>
                    <td><input type="password" name="senha"></td>
                </tr>
            </table>
                <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>