<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tela Principal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <style>
        
        #topo{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 50px;
        }
        #reds{
            border-radius: 100px;
        }
        #baixo{
            text-align: center;
            display:flex;
            justify-content:center;
            align-items:flex-end;
            width: 100%;
            padding: 100px;
        }
    </style>
    <body>
        <div class="container">
    
            <div class="row" id="topo">
                <div class="col-12">
                    <img id="reds" src="../static/img/icon-user-default.png" width="100px" height="100px">
                    <div class="col-12" style="padding: 15px">
                        <span>Bem vindo(a) <br> <a href="#"> {{ user }}</a></span>
                    </div>
                    <hr>
                </div>
            </div>
                
            <div class="row" id="baixo">
                    <div class="col-3">
                        <a href="{{ url_for('set_webhook') }}">Subir Robô</a>
                    </div>

                    <div class="col-3">
                        <a href="#">Listar Robôs Online</a>
                    </div>

                    <div class="col-3">
                        <a href="">Retreinar Robô</a>
                    </div>

                    <div class="col-3">
                        <a href="#">Cadastrar Dicionário</a>
                    </div>
                </div>
            </div>   
    </body>
</html>