<!DOCTYPE html>
<html lang="en">

<head>
    <title>teste</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<style>
  #borda-esquerda{
    border-left-style: solid;
  }

  .vermelho{
    background-color: red;
  }

  .azul{
    background-color: blue;
  }

  .verde{
    background-color: green;
  }

  .cinza{
    background-color: lightblue;
  }

</style>

<body>
    <div class="container m-3">


        <div class="row">
            <div class="col-8" id="app">
                <input 
                class="form-control form-control-sm" 
                v-model="frase"
                type="text" id="frase-text"
                placeholder="Digite a frase"
                @keyup.enter="enter">

                <hr>

                <span>TOKENS ENCONTRADOS NESTA FRASE:</span>

                <ul class="list-group list-group-flush" id="lista-frases">

                  <li class="m-1" v-for="frase in frases">

                    <div class="btn-group" role="group">

                      <div class="btn-group" role="group" v-for="token in frase.palavras">
                        <button id="btnGroupDrop1" type="button" 
                          class="btn dropdown-toggle"
                          v-bind:class="{'vermelho': token.cor === 'red', 'azul': classe === 'blue', 'verde': classe === 'green', 'cinza': classe === ''}"
                          data-toggle="dropdown" aria-haspopup="true" 
                          aria-expanded="false" v-text="token"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          
                          {%for token in tokens%}
                              <a v-on class="dropdown-item" href="#">{{token}}</a>
                          {%endfor%}
                          
                        </div>
                      </div>

                  </li>
                    
                </ul>

               
            
            </div>
            <div class="col-4" id="borda-esquerda">
              <span>FRASES</span>
              <hr>
              <span>gostaria</span><span class="badge badge-pill badge-dark">pizza</span>
              <hr>
              {% set asd = []%}
              {%for frase in item%}
              {% set asd = asd.push(frase[1])%}
              <hr>
                <span>{{ frase[1] }}</span>
              <hr>
              {%endfor%}
              <p>{{ asd }}</p>
              
            </div>
          </div>
    </div>
</body>

<script>


var app = new Vue({

  el : '#frase-text',

  data : {
    frase : '',
  },

  methods : {

    enter () {
      var frase = this.frase.replace(/\s{2,}/g, ' ');
      var tokens = frase.split(" ");
      var lf = [];
      var tk = tokens.length;
      var inicio = 0;
      var fim = 0;
      var pos = 0;
      var sop = 0;
      if (tokens.length > 1){
        for (var i = 0; i < tk; i = i + 1){
          fim = fim + tokens[i].length - 1 + pos;
          pos = 2;
          inicio = sop + inicio;
          sop = tokens[i].length + 1;
          lf.push([inicio,fim]);
        }
      }else{
        inicio = 0;
        fim = tokens[0].length - 1;
        lf.push([inicio,fim]);
      }
      
      listaApp.frases.push({palavras: tokens, cor: 'blue', mapeamento: lf});
      console.log(listaApp.frases);
      
    }

  }

});



var listaApp = new Vue({

  el : '#lista-frases',

  data : {
    frases : [{
              palavras: ['Oi',  'gostaria',  'de',  'fazer',  'um',  'pedido'],
              cor: 'blue'
              },
              {
              palavras: ['Tem',  'Pizza',  'de',  'Calabresa'],
              cor: 'red'
              }
              ],
    tokens: [],
    classe: ''
  }

});
</script>


</html>